html{
    margin-left: auto;
    margin-right: auto;
}
header{
    background:#871426;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    }
    
header img{
    width : 100px;
    margin-right: 2.5rem;
}
.getdayfriday{
    background-color: darkkhaki;
    font-weight: bold
}
main{
    display: block;
	margin: 0 auto;
    text-align: center;
}
main h2{
    padding: 0.5em 1em 0.5em 1em;
    color: black;
}
.navigation {
    background-color: #111111;
    padding: 0;
    margin: 0;
}
.navigation li{
    display: none;
}
/*TemperatureBox*/
.tabledays{
    display: flex;
    flex-flow: row wrap;
    margin: 25px 0 50px;
    padding: 0;
    height: 150px;
    }
    .weatherdays{
        flex: 1 1 auto;
        border-bottom:  1px solid #871426;
        border-left:  0.5px solid #871426;
        border-right:  0.5px solid #871426;
    }
    .weekday {
        display: block;
        padding: 5px;
        background-color: #871426;
        color: #fff;
        border-bottom: 1px solid rgba(223, 144, 120, 0.425);
        border-top: 1px solid rgba(223, 144, 120, 0.425);
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
    }
    .tabledays img{
        width:70px;
        display:block;
        margin:auto;
    }
    .tempe{
        display: block;
        text-align: center;
        padding: 8px;
    }
/*TemperatureBox*/
.upcomingevents{
    display: block;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    padding: 3% 18%;
    
}
.upcomingevents h3{
   
    padding: 0.5em 0.2em 0.5em 0.2em;
  margin:0;
 
    border: 2px solid #000;
    background-color: #871426;
    color:#fff;
}

.upcomingevents p{
   
    padding: 0.5em 0.2em 0.5em 0.2em;
  
    background-color: #fff;
    color:#871426;
    border: 2px solid #000;
}

/*Gallery*/
.wgallery{
    padding:20px;
    font-weight: bold;
    font-size: 2em;
}
.wgallery:hover {
    color: rgb(0, 255, 213);
}
img[data-src] {
    filter: blur(0.2em);
}
 figure {
    filter: blur(0em);
    transition: filter 0.5s;
}
.container {
    display: block;
    align-items: center;
    justify-items: center;
    width: 100%;
    gap: 5px;
  }
  .container img:hover {
    box-shadow: 0 0 50px #000;
}
figcaption {
    text-align: center;
    padding:15px;
  }
  figure img { 
    width: 100%;
     height: auto;
    }
  /*Gallery*/
footer{
        background-color: #871426;
        padding: 1.01rem;
        text-align: center;
        font-family: 'Libre Baskerville', serif;
        color: rgb(243, 243, 245);
        display: grid;
        grid-template-columns: 0.8fr 0.6fr;
        grid-auto-rows: 1fr 0.2fr;
     }
.navigation li:first-child {
    display: block;
}
.navigation a {
    display: block;
    text-align: center;
    color: rgb(243, 243, 245);
    padding: .6rem 1rem;
    text-decoration: none;
}
.navigation a:hover {
    color: #000;
    background-color: #fff;
    font-weight: 700;
}
a.active {
    color: #000;
    background-color: #fff;
}
.responsive li{
    display: block;
}
.herodiv {
    text-align: center;
    margin: 10px auto;
    position: relative;
}
h1, h2, p {
    margin: 0;
}
.herodiv img {
    
    width: 99%;
    box-shadow: 2px 1px 1px 0.5px #333;
}
.htablesays{
    text-decoration: underline;
}
.stats {
	padding:3% 18%;
}
.stats h3{
    text-decoration: underline;
}
.statsgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
 
    
}
.statsgrid span {
padding: 10px;
border: 1px solid #000;
}
.statsgrid p {
    background-color:#871426;
    border: 1px solid #000;
    padding: 10px;
    color:white;
    }
.statsgrid span span {
    border: none;
    }
.historyhco{
    display: block;
    box-shadow: 20px 0 30px 0 teal;
    margin-bottom: 40px;
}
.historyhco img{
    width: 100%;
}
.days{
    background-color: #871426;
    color: #fff;
}
footer{
        background-color: #871426;
        padding: 1.01rem;
        text-align: center;
        font-family: 'Libre Baskerville', serif;
        color: rgb(243, 243, 245);
        display: grid;
        grid-template-columns: 0.8fr 0.6fr;
        grid-auto-rows: 1fr 0.2fr;
     }
footer a{
    color: rgb(243, 243, 245);
}
footer div {
    padding-top: 10px;
}
footer img{
    grid-column: 1/2;
    padding: 0 30px 20px 0;
}
.days{
    display: none;
}
.hcogps{
    display: none;
}
.contactinfo{
    grid-column: 2/2;
    grid-row: 1/1;
    width: 300px;
    display: grid;
    grid-template-columns: 32px 1fr;
}   
.contactinfo h3 {
    grid-column: 1/3;
  }
.contactinfo p {
grid-column: 2/3;
}
.contactinfo img{
width: 30px;
grid-column: 1/2;
}
.links{
grid-column: 1/3;
grid-row: 5/5;
}
.links img{
    width: 30px;
}
.data{
    grid-column: 1/3;
    grid-row: 2/2;
}
li {
    margin: 10px 0px 10px 0;
}
h1{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: rgb(243, 243, 245);
    margin: 5px 0px 10px 0;
    font-size: 1.4rem;
 }
h2{
    text-align: center;
    color: rgb(243, 243, 245);
    margin: 5px 0px 5px 0;
    font-size: 1rem;
 }
 p{
    font-family: 'Source Sans Pro', sans-serif;
 }
 .clearfix:after{
     content: "";
     display: table;
     clear: both;
 }
  /*HomePage*/
 .jsonsections{
    margin-bottom: 50px;
}
 .jsonsections section h2{
    background-color: #871426;
    color: rgb(243, 243, 245);
    border-bottom: 4px solid #098286;
    padding: 10px 0 10px;
  }
  .jsonsections section h2:hover {
    color: rgb(0, 255, 213);
}
  .jsonsections section h3{
    padding: 10px 0 8px;
    font-size: small;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
  }
  .jsonsections section p{
    padding: 3px 0 10px;
  }
  .jsonsections section {
    
    margin: 0 auto;
    background-color: #871426;
     color: rgb(243, 243, 245);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(2, 64, 89, 0.4);
    text-align: center;
  }
  .jsonsections section img {
    width: 100%;
    padding: 0;
    border-radius: 8px 8px 0 0;
  }
 /*HomePage*/
  /*Stormcenter*/
  form fieldset {
    margin: 1.5rem 0;
    background-color:rgb(13, 13, 99);
    box-shadow: 0 0 0.1rem 0.1rem #000;
    border: 1px;
    border-radius: 10px;
  }
 form legend {
    color: #024059;
    padding: 5px 0 15px;
    position: relative;
    top: -1rem;
    font-weight: bold;
  }
  form label.top,form label.stormrating, form div {
    display: block;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1rem;
    text-align: left;
  }

  form label.top input, form label.top select, form label.top textarea {
    display: block;
    font-size: 1rem;
    border: 1px solid #011C26;
    border-radius: 4px;
    padding: .75rem;
    color: #011C26;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
  }
  form label.danger {
    display: block;
    padding: 20px 0 5px;
    color: white;
  }
  form input.submitbutton {
    display: block;
    background-color:#871426;
    border: 1px solid #011C26;
    color: white;
    border-radius: 1rem;
    padding: 10px 0 10px 0;
    width: 200px;
    margin: 20px auto;
  }
  .submitbutton:hover {
    color: rgb(0, 255, 213);
    box-shadow: 10px 15px 15px rgba(2, 64, 89, 0.4);
    }
  form label.top input:required{
    border-left: #d9734e solid 6px;
  }
 form label.stormrating input {    
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  form {
    margin: 0 auto;
    max-width: 320px;
  }
  .googlemaps{
      text-align: center;
      align-items: center;
      padding: 1em 1em 1em 1em;
  }
  .googlemaps h2{
    padding: 0.5em 1em 0.5em 1em;
}
.workers-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: center;
    background-color:  #111111;
    padding: 25px 100px 25px 100px;
    color: white;
}
 .workers-grid img{
    padding: 15px 0 15px;
}
.workers-grid div p{
    padding: 5px 0 5px;
}
.membership-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: center;
    padding: 25px 100px 25px 100px;
    color: #111111;
    margin: 0;
}
.membership{
    background-color:  white;
    border: 2px solid #871426;
}
.membership h3{
    color:  white;
    background-color:#871426;
    padding: 0.5em 1em 0.5em 1em;
}
.membership ul li{

   text-align: left;
   padding: 0.5em 2em 0.5em 1em;
}

.membership img{
    border-radius: 5px;
    height:150px;
    padding: 0.5em 1em 0.5em 1em;
}
.membership p{
    padding: 1.5em 1em 1.5em 1em;
}
.membershiplist{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns:  1fr 1fr;
}
.trujillo-grid{
    display: grid;
    padding: 3% 18%;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items:center;
    justify-items: center;
    text-align: left;
}
.trujillo-grid h3{
    font-weight: bold;
    color:#871426;
}
.trujillo-grid img{
    box-shadow: 2px 1px 1px 0.5px #333;
    border-radius: 5px;;
}
.trujillo-grid img:hover{
box-shadow: 0 0 5px rgb(41, 42, 41);
}
.trujillo-grid p{
    padding: 0.5em 1em 0.5em 1em;
}

.directory{
    padding: 3% 8%;
}
.directorydiv{
    padding: 0;
     font-size: 1.5rem;
     border: 2px solid #871426;
}
.directorylist{
    text-align: left;
}
.directorylist p, .directorylist img{
    color:#111;
    padding: 0.5em 0em 0.5em 0em;
 }
.dirctorygrid{
    text-align: center;
    padding: 3% 18%;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
}
 .dirctorygrid p, .dirctorygrid img{
   color:#111;
   padding: 1em 0.2em 0.2em 0.2em;
}

.weatherevent{
    display: block;
}

     /*Stormcenter*/